.artists {
  font-weight: bold;
  font-size: 1.1em;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: art;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Muli', sans-serif;
  overflow: auto;
  max-height: 75%;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 5px 5px #d8d6d6;
}

.image {
  max-width: 50%;
  max-height: 75%;
}

#spinner {
  position: fixed;
  top: 45%;
  left: 45%;
  color: #1fd8fc;
}

.title {
  font-size: 1.05em;
  font-style: italic;
}

.description,
.dimensions {
  font-size: 1em;
}

.artists,
.description,
.dimensions,
.title {
  word-wrap: break-word;
  max-width: 300px;
  margin: 10px 0px 10px 0px;
}

@media screen and (min-width: 1400px) {
  .artists {
    font-size: 1.3em;
  }
  .title {
    font-size: 1.25em;
  }
  .description,
  .dimensions {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1600px) {
  .artists {
    font-size: 1.5em;
  }
  .title {
    font-size: 1.45em;
  }
  .description,
  .dimensions {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1900px) {
  .artists {
    font-size: 1.7em;
  }
  .title {
    font-size: 1.65em;
  }
  .description,
  .dimensions {
    font-size: 1.6em;
  }
}
