.artists {
  font-weight: bold;
  font-size: 26px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: art;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Muli', sans-serif;
  overflow: scroll;
  max-height: 75%;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 5px 5px #d8d6d6;
}

.image {
  max-width: 50%;
  max-height: 75%;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.title {
  font-size: 22px;
  font-style: italic;
}

.description,
.dimensions {
  font-size: 20px;
}

.artists,
.description,
.title,
.dimensions {
  word-wrap: break-word;
  max-width: 300px;
  margin: 10px 0px 10px 0px;
}
