.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: scale;
  background-color: white;
}

.label {
  text-align: center;
  font-family: 'Muli', sans-serif;
  margin-bottom: 15px;
  font-size: 1em;
}

span[class*='rc-slider-mark-text'] {
  font-family: 'Special Elite', cursive;
  font-size: 1em;
}

@media screen and (min-width: 1400px) {
  .label,
  span[class*='rc-slider-mark-text'] {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1600px) {
  .label,
  span[class*='rc-slider-mark-text'] {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1900px) {
  .label,
  span[class*='rc-slider-mark-text'] {
    font-size: 1.6em;
  }
}
